body {
  margin: 0 auto;
  padding: 0 3%;
  max-width: 1200px;

  .bars {
    display: flex;
    justify-content: space-between;
  }
}

header {

  border-bottom: 4px double black;
  padding-top: 5px;
  padding-bottom: 1em;

  h1 {
    font-family: "UnifrakturMaguntia";
    font-size: 380%;
    margin: 15px;
  }

  .dateLink time {
    display: block;
  }
}

main {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 1em;

  h2 {
    font-size: large;
  }

  h3 {
    font-size: initial;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #importantStuff {
    padding-right: 1em;
    border-right: 1px solid rgb(217, 216, 216);

    .topNews {
      display: grid;
      grid-template-columns: 40% 60%;

      .news {
        padding-right: 1em;
      }

      .mediaInteractive {

        .position {
          position: relative;

          h3 {
            position: absolute;
            top: 0px;
          }

          #pictureCredit {
            position: absolute;
            bottom: 0px;
          }

          #pictureButtons {
            position: absolute;
            bottom: 0px;
            right: 0px;
            display: flex;
            flex-direction: column;

            button {
              border: 4px;
              padding-block: 15%;
              border-radius: 100%;
              margin-bottom: 1em;
              margin-right: 1em;
            }

          }

        }
      }
    }
  }

  .otherButtons {
    justify-self: right;

    button {
      border: 4px;
      padding-block: 15%;
      border-radius: 100%;
      margin: 5px;


    }
  }

  .secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;

    /*column-gap: 1em;
    column-rule: 1px solid rgb(217, 216, 216);*/

    border-top: 1px solid rgb(217, 216, 216);
    border-bottom: 1px solid rgb(217, 216, 216);

    h3 {
      margin-top: 0;
    }

    .firstColumn {
      margin: 1em 0;
      padding-right: 1em;
      border-right: 1px solid rgb(217, 216, 216);
      ;
    }

    .secondColumn {
      margin: 1em 0;
      padding-left: 1em;

    }
  }

  #cultEnt {
    padding-left: 1em;

    .otherButtons {
      grid-column: 1/-1;
    }

  }
}

footer {

  .gridFooter {
    display: grid;
    grid-template-columns: 80% 20%;

    .contentTable {
      display: table;

      ul {
        display: table-cell;
        padding: 0;
        vertical-align: top;
        list-style-type: none;

      }
    }

    .account {

      ul {
        display: table-cell;
        padding: 0;
        vertical-align: top;
        list-style-type: none;

      }
    }
  }

  .copyright {
    text-align: center;
  }
}