body {
  margin: 0;
  padding: 0 2em;

  .bars {
    display: flex;
    justify-content: space-between;
  }
}

header {

  border-bottom: 1px double black;

  h1 {
    font-family: "UnifrakturMaguntia";
    font-size: 380%;
  }

  .dateLink time {
    display: block;
  }
}

main {
  display: grid;
  grid-template-columns: 70% 30%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .topNews {
    display: grid;
    grid-template-columns: 40% 60%;

    .mediaInteractive {}
  }

  .secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

footer {

  .gridFooter {
    display: grid;
    grid-template-columns: 80% 20%;

    .contentTable {
      display: table;

      ul {
        display: table-cell;
        padding: 0;
        vertical-align: top;
        list-style-type: none;

      }
    }

    .account {

      ul {
        display: table-cell;
        padding: 0;
        vertical-align: top;
        list-style-type: none;

      }
    }
  }

  .copyright {
    text-align: center;
  }
}